<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redirecting to Paytm...</title>
</head>
<body onload="document.forms['paytm-form'].submit()">
    <center><h1>Please do not refresh this page...</h1></center>
    <center><h2>Redirecting to Paytm for secure payment</h2></center>
    
    <form method="post" action="{{ paytm_environment }}" name="paytm-form">
        {% for key, value in paytm_dict.items %}
            <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endfor %}
    </form>
</body>
</html>
